# modules
node_modules

# DB data
mysql_memberDev_data
mysql_memberProd_data
mysql_memberTest_data

# query log
queries.log
queries_dev.log
queries_test.log
queries_prod.log

# Environment
*/.env
.env